<!DOCTYPE html>
<html>
<head>

<title>Request A Book!</title>

<form action="/request/book" method="GET">
	Book Name: <br>
	<input type="text" name="bookname"> 
	<br><br>
	Category: <br>
	<select name="categories">
		<option value="Interview">Interview</option>
		<option value="Technical">Technical</option>
		<option value="Design">Design</option>
		<option value="Language">Language</option>
		<option value="Leadership">Leadership</option>
		<option value="Other">Other</option>
	</select>
	<br><br>
	Author: <br>
	<input type="text" name="author" value="optional">
	<br>
	<input type="submit" value="Submit">
	<br>
</form>
</head>

<body>

</body>
</html>
